# other configration
/data/*
!/data/parameters.py
!/data/PWdata/MOVEMENT
!/data/plot_mlff_inference.py
/cu/*
!/cu/parameters.py
!/cu/PWdata/MOVEMENT
/CuO/*
!/CuO/parameters.py
!/CuO/PWdata/MOVEMENT
/zwt/*
!/zwt/parameters.py
!/zwt/PWdata/MOVEMENT

# model file
*.pt
*.dat
# eval file
/eval/cu/*
/eval/CuO/*
/eval/zwt/*
/eval/data_cu/*

# Byte-compiled / optimized / DLL files
*.py[cod]
*__pycache__/
*pytest_cache/

# pytorch run output files
/data/runs/
/cu/runs/
# object file
*.o
# exec file
*.r
# generate file
*.csv
*.log
# vscode config file
/.vscode/

# generate data file 
/data/train_data/*
!/data/train_data/MOVEMENT
/data/input/*
/data/output/*
/data/fread_dfeat/*

# exec files
/src/bin
# lib file
/src/lib

# npy file
*.npy

# log file
*.log
